a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

* {
  font-family: "Sriracha";
}

body {
  margin: 0px 80px;
  flex-flow: row wrap;
}

#produit_page, #index {
  display: flex;
}

section {
  display: flex;
  text-align: center;
}

#section_oursEnPeluche, #produit_texte {
  flex-flow: row wrap;
}

li {
  list-style-type: none;
}

.bouton_valide {
  flex-basis: 50%;
  background-color: #8b17b7;
  color: #f3e9f1;
  border-radius: 50px;
  height: 50px;
  font-size: 1.1em;
  justify-self: center;
}

#produit_page {
  justify-content: space-between;
}
#produit_page #produit_photo {
  width: auto;
  height: 75%;
  overflow: hidden;
  flex-basis: 50%;
  margin: 3% 0;
}
#produit_page #produit_texte {
  flex-basis: 45%;
  justify-content: space-evenly;
}
#produit_page h1, #produit_page h2, #produit_page p {
  flex-basis: 100%;
}
#produit_page #messageAddToCart {
  font-size: 1.5em;
  color: green;
  width: 100px;
  display: none;
}

body h1 {
  flex-basis: 100%;
}
body .index_title_article {
  flex-basis: 100%;
  text-align: start;
  padding-left: 25px;
}
body #section_oursEnPeluche #index_oursEnPeluche {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body #section_oursEnPeluche figure {
  height: 300px;
  width: 300px;
  overflow: hidden;
  border: 3px solid #000;
  border-radius: 30%;
  background-color: #f3e9f1;
}
body #section_oursEnPeluche figure img {
  width: 100%;
  height: 70%;
}
body #section_oursEnPeluche figure figcaption h3 {
  margin: 2px;
}

.header {
  display: flex;
  flex-basis: 100%;
  font-size: 1.2em;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px double #8b17b7;
  background-color: #f3e9f1;
  padding-top: 10px;
  margin-bottom: 25px;
}
.header img {
  height: 80px;
  width: auto;
}
.header nav a {
  padding: 15px;
}

footer {
  display: flex;
  flex-basis: 100%;
  background-color: #f3e9f1;
  height: 40px;
  border-top: 5px double #8b17b7;
  margin-top: 50px;
}

#confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}
#confirmation h1 {
  padding-left: 5%;
}
#confirmation main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: double 5px #8b17b7;
  padding: 10px 20px;
  flex-basis: 100%;
  margin: 15px;
}
#confirmation main div {
  border: solid 3px #f3e9f1;
  padding: 5px 10px;
}

#finalPrice {
  display: none;
}

#cart_title a {
  text-decoration: underline;
}
#cart_title a:hover {
  color: purple;
}

#mainCart {
  margin: 10px;
}
#mainCart .cart_Article {
  align-items: center;
  margin: 20px;
}
#mainCart .cart_Article img {
  flex-basis: 25%;
  max-width: 150px;
}
#mainCart .cart_Article #cart_prix {
  margin-right: 10%;
}
#mainCart .cart_Article div {
  margin: 5%;
}
#mainCart .cart_Article button {
  border: none;
  background-color: #fff;
  color: #8b17b7;
  font-size: 1.5em;
}

#form {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 100%;
}

fieldset {
  width: 65vw;
}
fieldset input {
  width: 100%;
}
fieldset input:valid {
  box-shadow: 0 0 2px 1px darkgreen;
}
fieldset textarea {
  width: 100%;
}
fieldset .bouton_valide {
  width: 220px;
  margin-left: 37%;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  #produit_page {
    flex-direction: column;
    align-items: center;
  }
  #produit_page #produit_photo {
    height: auto;
    width: 95%;
  }
  #produit_page #messageAddToCart {
    font-size: 1.5em;
    margin: 0px;
    width: 320px;
    display: none;
  }
}
@media screen and (max-width: 780px) {
  body {
    margin: 0px 0px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 90vw;
  }
  fieldset input {
    width: 100%;
  }
  fieldset textarea {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
