#produit_page{
    justify-content: space-between;
    align-items: center;
    #produit_photo{
        width: auto;
        height: 75%;
        overflow: hidden;
        flex-basis: 50%;
        margin: 3% 0;
    }

    #produit_texte{
        flex-basis: 45%;
        justify-content: space-evenly;        
    }

    h1, h2, p{
        flex-basis: 100%;
    }

    #messageAddToCart{
        font-size: 1.5em;
        color: green;
        width: 100px;
        display: none;
    }
}
