$purple: #8b17b7;
$bglogo: #f3e9f1;

a{
    text-decoration: none;
    color: #000;
    font-size: 1em;
}

*{
    font-family:'Sriracha';
}

body{
    margin: 0px 80px;
    flex-flow: row wrap;
}

#produit_page, #index{
    display: flex;
}

section{
    display: flex;
    text-align: center;
}

#section_oursEnPeluche, #produit_texte{
    flex-flow: row wrap;
}

li{
    list-style-type: none;
}

.bouton_valide{
    flex-basis: 50%;
    background-color: $purple;
    color: $bglogo;
    border-radius: 50px;
    height: 50px;
    font-size: 1.1em;
    justify-self: center;
}