@media screen and (max-width: 600px){
    #produit_page{
        flex-direction: column;
        align-items: center;

        #produit_photo{
            height: auto;
            width: 95%;
        }

        #messageAddToCart{
            font-size: 1.5em;
            margin: 0px;
            width: 320px;
            display: none;
        }
    }
}

@media screen and (max-width: 780px){
    body{
        margin: 0px 0px;
    }

    fieldset{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 90vw;
    
        input{
            width: 100%;
        }
    
        textarea{
            width: 100%;
        }
    }
}