#finalPrice{
    display: none;
}

#cart_title{
    a{
        text-decoration: underline;
    }

    a:hover{
        color: purple;
    }
}

#mainCart{
    margin: 10px;

    .cart_Article{

        align-items: center;
        margin: 20px;
            
        img{
            flex-basis: 25%;
            max-width: 150px;
        }

        #cart_prix{
            margin-right: 10%;
        }

        div{
            margin: 5%;
        }
    
        button{
            border: none;
            background-color: #fff;
            color: $purple;
            font-size: 1.5em;
        }
    }
}

#form{
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 100%;
}

fieldset{
    
    width: 65vw;

    input{
        width: 100%;

        &:valid {
            box-shadow: 0 0 2px 1px darkgreen;
        }
    }

    textarea{
        width: 100%;
    }

    .bouton_valide{
        width: 220px;
        margin-left: 37%;
        margin-top: 5px;
        visibility: visible;
    }
}